html { 
	overflow: -moz-scrollbars-vertical;
	overflow-x: auto; 
}


body {
	background-color: white;
	font: 8pt verdana;
}

#main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	padding-top: 0px;
	border: 1px solid #000000;
	background-color: #DAD7E0;
}

.heading {
	margin-bottom: 5px;	
}

/* make links <AWESOME> */
a:link {
	text-decoration: underline;
	color: black;
}

a:visited {
	text-decoration: underline;
	color: black;
}

a:active {
	text-decoration: underline;
	color: black;
}

a:hover {
	text-decoration: underline; 
	color: red;
}

/* used for the upload2 stripes */

.green {
	background-color: #D4F7CB;
}

.red {
	background-color: #F2B8BC;
}

/* alternate row shading applied by js */

.stripe1 {
	background-color: #D8E0D7;
}

.stripe2 {
	background-color: #C9BDCC;
}


/*
view player
*/
div#player_view_box {
	overflow: auto;
	width: 700px;
	border: 1px solid #000000;
	border-bottom: 0px;
}

div.player_view_row {
	border-bottom: 1px solid #000000;
	padding: 5px;
	overflow: auto;
}

div.player_view_left {
	float: left;
	width: 600px;
}

div.player_viewr_right {
	float: right;
	width: 55px;
}


/* view a replay CSS */
div#replay_view_box {
	overflow: auto;
	width: 220px;
	border: 1px solid #000000;
	border-bottom: 0px;
}

div.replay_row {
	border-bottom: 1px solid #000000;
	padding: 5px;
	overflow: auto;
}

div.replay_view_left {
	float: left;
	width: 145px;
}

div.replay_view_right {
	float: right;
	width: 55px;
}

/*
upload 2
*/
div#replay_upload2_box {
	width: 525px;
	margin-left: 100px;
	border: 1px solid #000000;
	border-bottom: 0px;
}

div.replay_upload2_left {
	float: left;
	width: 480px;
}

div.replay_upload2_right {
	float: right;
	width: 20px;
}
