html { 
	overflow: -moz-scrollbars-vertical;
	overflow-x: auto; 
}


body {
	background-color: white;
	font: 8pt verdana;
}

#main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	padding-top: 0px;
	border: 1px solid #000000;
	background-color: #DAD7E0;
}

a:link {
	text-decoration: underline;
	color: black;
}

a:visited {
	text-decoration: underline;
	color: black;
}

a:active {
	text-decoration: underline;
	color: black;
}

a:hover {
	text-decoration: underline; 
	color: red;
}

div.replay_viewl {
	float: left;
	width: 145px;
}

div.replay_viewr {
	float: right;
	width: 55px;
}


.green {
	background-color: #D4F7CB;
}

.red {
	background-color: #F2B8BC;
}

.stripe1 {
	background-color: #D8E0D7;
}

.stripe2 {
	background-color: #C9BDCC;
}

.heading {
	margin-bottom: 5px;	
}

/*
view player
*/
div.player_viewl {
	float: left;
	width: 450px;
}

div.player_viewr {
	float: right;
	width: 55px;
}

div#player_view_box {
	width: 555px;
	border: 1px solid #000000;
	border-bottom: 0px;
}

div#replay_view_box {
	width: 220px;
	border: 1px solid #000000;
	border-bottom: 0px;
}

div.replay_row {
	height: 20px;
	padding: 5px;
	border-bottom: 1px solid #000000;
}

/*
upload 2
*/
div#replay_upload2_box {
	width: 525px;
	margin-left: 100px;
	border: 1px solid #000000;
	border-bottom: 0px;
}

div.replay_upload2l {
	float: left;
	width: 480px;
}

div.replay_upload2r {
	float: right;
	width: 20px;
}